@import url(https://fonts.googleapis.com/css?family=Pacifico);


*{
    margin: 0;
    padding: 0;
    
}

/*Preload starts*/

.preload{
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size:cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;


}
.preload-finish{
    opacity: 0;
    pointer-events: none;

}

.ghost{
    width: 200px;
    animation: ghost 1s ease infinite alternate;
    

}
.preload h3{
    position: absolute;
    top:75%;
    transform: translateY(-75%);



}
@keyframes ghost{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(50px);
    }
}

@keyframes ghosts{
    from{
        right: 0%;

    }
    to{
        right: 130%;

    }
}

/* Preloads Ends */
html{
    scroll-behavior:smooth;
}
 /* Nav-list */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    z-index: 1;
    
}

.rightnav i{
    display: none;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    bottom: 3px solid white;
}
.nav-list{
    
    width: 70%;
    display: flex;
    align-items: center;
    }

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a {
    text-decoration: none;
    color:white;
    font-size: 20px;
}

.nav-list li a:hover {
    text-decoration: none;
    color:grey;
}

.rightnav{
    width: 30%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0,0,0,0.7)url(img/Scary-bg1.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

/*Navbar Ends*/

/* Banner Starts */
.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Pacifico', cursive;
    max-width: 50%;
    margin: auto;
    height: 75%;
}

.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secondhalf{
    width: 30%;
    }

    .secondhalf img{
    border: 4px solid white;
    border-radius: 150%;
    display: block;
     margin: auto;
}

.text-big{
    font-size: 41px;
}

.text-small{
    font-size:18px ;
}

.btn{
    padding: 9px 20px;
    margin: 7px 3;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    background:none;
    color: white;
    font-size: 20px;
}

.btn-sm{
   padding: 6px 10px;
   vertical-align: middle;
   font-size: 16px;
}
/* Banner ends*/


/* About us*/


.about{
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 40px;
}
.section{
    
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:80% ;
    margin: auto;
    font-family: 'Pacifico', cursive;
    padding: 10px;
}

.left{
    flex-direction: row-reverse;
}
 
.para{
    padding:0px 65px;
  }

  .thumbnail img{
     border:2px solid black;
      border-radius: 26px;
  }

/* About us ends */

.gallery {
    background-image: url(img/Digit\ \(72\).jpg);
    
  }
  
  .gallery-cell {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40%;
    height: 550px;
    margin-right: 10px;
    text-transform: uppercase;
    line-height: 550px;
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: 'Pacifico', cursive;
    background-size: cover;
    
    
  }
  .gallery-cell a{
      color: white;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    text-transform: uppercase;
    line-height: 550px;
    font-size: 80px;
    color: white;
  }
  
  .carousel{
      margin-top: 70px;
      margin-bottom: 70px;
      
  }
  .carousel h1{
      font-size: 40px;
      margin-bottom: 70px;
  }
  
/*Form Starts*/

.contact{
      background-color: #f6f5f4;
      height:740px;

  }

.waala{
      text-align: center;
      padding-top: 20px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.form{
      max-width: 62%;
      margin:25px auto;
      
  }

.form-input{
      margin: 14px 0;
      padding: 5px 3px;
      width: 100%;
      font-size: 19px;
      border: 2px solid grey;
      border-radius:6px;
  }

.btn-dark{
color:black;
border: 2px solid grey;
  }

  /* Form ends */

  /* Footer starts*/

.waali{
      text-align: center;
      padding: 30px 0;
      font-family: 'Times New Roman', Times, serif;
      display:flex ;
      justify-content: center;
      align-items: center;
      color:white;
  }

  /* footer ends */
.burger{
 display:none;
 position:absolute;
 cursor: pointer;
 right: 5%;
 top:20px;
}
.line{
    width: 33px;
    background-color: white;
    height: 5px;
    margin:3px 3px;
}

/*Footer*/






  
  
  
  


@media only screen and (max-width:1024px){
    
.nav-list{
        flex-direction: column;        
       } 
       .navbar{
           flex-direction: column;
           height: 447px;
           transition: all 0.7s ease-out;
}

.logo img{
           width: 100%;
           height: 80px;
        
           
       }
       
       
       
       
 
       .rightnav{
           text-align: center;
           align-items: center;
           display: flex;
       }
 
 #search{
         width:100%;
    }
     
   
    
   .burger{
   display: block;
   }
   .h-nav-resp{
       height: 72px;
   }
   .v-class-resp{
       opacity: 0;

   }
.box-main{
   flex-direction: column-reverse;
   max-width: 100%;
}
.section{
  flex-direction: column-reverse; 
}
.text-big{
   text-align: center;
}
.buttons{
   text-align: center;
}
.btn-sm{
    display:none;
}
.rightnav i{
    display:block ;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 5px;
}
.text-small{
   text-align: center;
}
.para{
   padding: 0px;
   text-align: center;
}
.gallery-cell {
    font-size: 20px;
    
  }
 } 


 @media only screen and (max-width:500px){
     .secondhalf  {
         margin-right:17% ;
     }

     .logo{
         margin-left: 0;
     }
     .rightnav{
         width: 50%;
        
     }
     .rightnav i{
        display:block ;
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-left: 5px;
    }
    .btn-sm{
        display: none;
    }
     
 }

 @media (max-width:360px)
 {  
    .secondhalf{
        margin-top: 20%;
        margin-right: 21%;
        
    }
    .logo{
        margin-right: 14px;
    }

    .rightnav{
        margin-left: 30px;
    }
    
    .rightnav i{
        display:block ;
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-left: 5px;
    }
    .btn-sm{
        display: none;
    }
     
    .btn{
       
       
        margin: 3px;
        border: 2px solid white;
        border-radius: 8px;
        cursor: pointer;
        background:none;
        color: white;
        font-size: 10px;
    }
 }